@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html{
    font-size: 62.5%;
}

body {
    background: rgba(222, 171, 228, 0.541);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    top: 50%;
    left: 50%;
    position:absolute;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    font-size: 4rem;
    width: 26rem;
    text-align: center;
    border: 5px solid #000;
    border-radius: .5rem;
    background: #000;}

.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(6rem, auto);
}

input[type='text']{
    height:8rem;
    width: 25rem;
    border-radius: .5rem;
    border: 2rem;
    margin:  .5rem 0;
    text-align: right;
    color: #fff;
    background-color: rgb(7, 7, 7);
    font-size: 3rem;
    letter-spacing: .25rem;
}

#clear{
    grid-column: 1/3;
    grid-row: 1;
    color: rgb(248, 244, 241);
    background: rgb(255, 42, 0);
}

#equals {
    grid-column: 3/5;
    grid-row: 5;
    background: rgb(255, 42, 0);
    color: #fff;
    font-size: 3rem;
}

button{
    margin: .25rem;
    border-radius: .5rem;
    cursor: pointer;
}

input:focus, input:active, button:focus, button:active{
    outline: none;
}

.highlight{
    background: rgb(53, 53, 250);
    color: white;
    font-weight: 700;
}




/* MEDIA QUERIES */
@media screen and (max-width: 62.5em) {
    html {
      font-size: 54%;
    }
  }
  
  @media screen and (max-width: 37.5em) {
    /* find the difference rem and em */
    html {
      font-size: 50%;
    }
  }